<html>
<title>{{title}}</title>

<div class="crop">
  <img class="fundal" src="assets\fundal.jpg">
</div>
<div class="buttons">
<button class="b" routerLink="egypt">Egypt</button>
<button class="b" routerLink="canada">Canada</button>
<button class="b" routerLink="china">China</button>
<button class="b" routerLink="france">France</button>
<button class="b" routerLink="italy">Italy</button>
<button class="b" routerLink="japan">Japan</button>
</div>
<div class="text">
	<div class="wrapper">
		<div id="D" class="letter">D</div>
		<div class="shadow">D</div>
	</div>
	<div class="wrapper">
		<div id="I" class="letter">I</div>
		<div class="shadow">I</div>
	</div>
	<div class="wrapper">
		<div id="S" class="letter">S</div>
		<div class="shadow">S</div>
	</div>
	<div class="wrapper">
		<div id="C" class="letter">C</div>
		<div class="shadow">C</div>
	</div>
	<div class="wrapper">
		<div id="O" class="letter">O</div>
		<div class="shadow">O</div>
	</div>
	<div class="wrapper">
		<div id="V" class="letter">V</div>
		<div class="shadow">V</div>
	</div>
	<div class="wrapper">
		<div id="E" class="letter">E</div>
		<div class="shadow">E</div>
	</div>
	<div class="wrapper">
		<div id="R" class="letter">R</div>
		<div class="shadow">R</div>
	</div>
</div>



</html>
<router-outlet></router-outlet>