.cropChina

{  

    margin-top:16px;
    margin-left: -10px;
    height: 900px;
    width: 1520px;
    overflow: hidden;

}
.fundalChina
{  
width: 1520px;
}

@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing');
h1{
   
    position:absolute;
    margin-top:120px;
    margin-left:600px;
    font-family: "Diplomata SC", cursive;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 59px;
    letter-spacing: 14px;
    word-spacing: -2px;
    color: rgb(255, 255, 255);
    background-color:transparent;
    text-shadow: rgb(0, 0, 0) 7px 2px 5px;
}